{% from "macros/form.njk" import label, field, textarea, button %}

<form name="contact" method="POST" data-netlify="true" action="/thank-you" netlify-honeypot="bot-field">
  <ol class="[ field-list ]">
    <li class="[ field-list__field-group ]">
      {{ label("Name", "name") }}
      {{ field( "text", "name", { required: true, autocomplete: "name", autocorrect: "off", autocapitalize: "off" } ) }}
    </li>
    <li class="[ field-list__field-group ]">
      {{ label("Email Address", "email") }}
      {{ field( "email", "email", { required: true, autocomplete: "email" } ) }}
    </li>
    <li hidden>
      <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
    </li>
  </ol>
  {{ button("Get Updates") }}
</form>
