{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %} 
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    <div class="inner-wrapper sf-flow">
    <h2 id="launch">Launch Info</h2>
    <p>We're currently busy working on building out Habitat Scout, and we're doing everything possible to get it ready right away.</p>
    <p>At this time, we expect the web and mobile apps to be launched by <strong>March 31st, 2021</strong>. We'll update this page as we get closer to the launch date.</p>
    <h2 id="updates">Sign Up For Updates</h2>
    <p>Add your name and email to the form below, and you'll be the first to know when Habitat Scout launches.</p>
    {% include "partials/components/contact-form.njk" %}
    </div>
  </main>
{% endblock %}
